source_code/Debug/
source_code/Release/
production/cards/Mooltipass-smartcard-template-comm_v2.svg
measurements/
user_manuals/
trademark/
fcc/
*Thumbs.db
*~
*.elf
*.eep
*.o
.DS_Store
*.pyc
*.iml
.idea/
.sass-cache/
chrome_extension/Mooltipass.safariextension
!chrome_extension/Mooltipass.safariextension/global.html
!chrome_extension/Mooltipass.safariextension/Info.plist
!chrome_extension/Mooltipass.safariextension/Settings.plist
chrome_extension/CleanVersion
