[submodule "fonts/fontbuilder"]
	path = fonts/fontbuilder
	url = https://github.com/andryblack/fontbuilder.git
[submodule "source_code/dmbs"]
	path = source_code/dmbs
	url = https://github.com/abcminiuser/dmbs.git
