source_code/Debug/
source_code/Release/
booltoader_mini/Debug/
booltoader_mini/Release/
production/cards/Mooltipass-smartcard-template-comm_v2.svg
measurements/
*Thumbs.db
*~
*.hex
*.elf
*.eep
*.o
.DS_Store
*.pyc
*.iml
.idea/
.sass-cache/
