$border-color: #DDD;
.border-top { border-top: 1px solid $border-color; }
.border-right { border-right: 1px solid $border-color; }
.border-bottom { border-bottom: 1px solid $border-color; }
.border-left { border-left: 1px solid $border-color; }

.comment {
  color: $border-color;
}

nav {
  ul li a {
    img {
      max-height: 1.7rem;
      margin-left: 0.5rem;
    }
  }
}

.margin-bottom { margin-bottom: 1rem !important; }
.no-margin-bottom { margin-bottom: 0rem !important; }

.content {
    padding: 0.5rem 0rem;
    overflow-y: scroll; 
    font-size: 0.8rem; 
    height: 455px;

    p, label {
      font-size: inherit;
    }

    h1, h2 {
      font-size: 1rem;
    }
    h3, h4 {
      font-size: 0.9rem;
    }
    h5, h6 {
      font-size: inherit;
    }
}

.alert-modal {
  margin-top: 5rem;
  h1 { margin-top: 0; }

  &.in-mmm {}
  &.not-unlocked {}
  &.not-in-mmm {}
  &.not-connected {}
}

.progress {
    border: none;
    height: 1.2rem;
    margin-bottom: 0.625rem;
    padding: 0;
}