@import "settings";
@import "foundation";

@import "layout";
@import "log";
@import "tables";

.comment {
  color: $border-color;
}

#contributor-list {
  a {
    img {
      border: none;
      width: 4rem;
      margin-right: 1rem;  
    }
    padding: 0.5rem;   

    &:hover {
      background: #FAFAFA; 
    }
  }
}

*[mp-show-for-hotkey] {
  display: none;
}

select {
  padding: 0 0.5rem;
  height: 1.6rem;
  margin-bottom: 0;
}

input.inline-time {
  width: 3rem;
  display: inline;
  margin: 0 0.5rem;
  height: 1.6rem;
  text-align: center;
}

input#search-input {
  width: 7.8rem;
  transition: all 300ms ease;
  font-size: 0.8rem;
  padding: 0.3rem;   

  &:focus {
    width: 13rem;
  }
}

input {
  border: 1px solid #EEE !important; 
  
  &:focus {
    outline: none;
    border: 1px solid #CCC !important;
  }  
}

input.inline {
  padding: 0.1rem 0.3rem;
  width: 100%;
}

.add-credential {
  input {
    margin-bottom: 0;
    height: 1.8rem;
    transition: all 200ms ease;
  }
  label {
    margin-bottom: 1.25rem;

    span.required {
      opacity: 0;
      color: $alert-color;
    }
    &.alert {
      span.required {
        opacity: 1;
        transition: all 200ms ease;
      }
      input {
        border: 1px solid #F00 !important;
      }
    }

    .comment {
      font-size: 0.68rem;
      opacity: 0;
      transition: all 200ms ease;
    }
  }
}

#page-synchronisation {
  .storage {
    p {
      margin-bottom: 0;
    }

    button {
      margin-bottom: 0;
      margin-top: 0.9rem;  
    }

    input[type="checkbox"] {
      margin-left: 0.5rem;
    }
  }
}

.comment {
  color: #888 !important;
}