#modal-changelog.modal(style="display: none;", data-version="2.0.0")
  .content-wrap
    .row
      .column.small-3
        img(src="../images/icons/Plain_128.png")
      .text.column.small-offset-1.small-7.end
        h1 Welcome to our new app
        p We proudly present you our new app to manage all your credentials on your Mooltipass device.
        hr
        h1 Important changes
        ol
          li The app window is not longer shown by default. It runs in background and can be opened via the Mooltipass extension menu.
          li The export format of the Mooltipass database has been changed. All backups made with our previous (black) app cannot be imported with the new app.
        p We recommend you to periodically export a backup of your database!