.alert-modal.in-mmm.row.show-if-connected.show-if-card.show-if-unlocked.show-if-mmm
  .column.small-offset-1.small-4
    img(src="../images/management-mode.png")
  .text.column.small-6.end
    h1 Memory management mode
    p Your device is currently in memory management mode. Due to security restrictions, you cannot use this category. Exit it via saving or discarding your credentials.
