.alert-modal.in-mmm.row.show-if-connected.show-if-card.show-if-unlocked.show-if-mmm
  .column.small-offset-1.small-4
    img(src="../images/management-mode.png")
  .text.column.small-6.end
    h1 Memory management mode
    p Your device is currently in memory management mode. To use this tab, you'll first need to click on "Save changes" or "Discard changes" in the Credentials tab.
