#in-mmm.row.show-if-mmm
  .column.small-offset-1.small-4
    img(src="../images/management-mode.png")
  .text.column.small-6.end
    h1 Memory management mode
    p Your device is currently in memory management mode. Due to security restrictions, you cannot change any settings in this mode. Exit it via the device to access the settings page.
