#modal-integrity-check.modal(style="display: none;")
  .content-wrap
    .row
      .column.small-offset-1.small-4
        img(src="../images/integrity-check.png")
      .text.column.small-6.end
        h1 Integrity Check
        p The Mooltipass is checking your device for integrity errors. This may take a while. Do not unplug your device meanwhile.


        .progress
          span.meter(style="width:40%")


