#modal-import-media-bundle.modal(style="display: none;")
  .content-wrap
    .row
      .column.small-offset-1.small-4
        img(src="../images/import-media-bundle.png")
      .text.column.small-6.end
        h1 Import Media Bundle
        p Importing the media bundle to your device. This may take a while. Please do not unplug your Mooltipass during import.


        .progress
          span.meter(style="width:40%")


