.alert-modal.not-unlocked.row.show-if-connected.show-if-card.hide-if-unlocked
  .column.small-offset-2.small-3
    img(src="../images/unlock.png")
  .text.column.small-5.end
    h1 Unlock your Mooltipass device
    p The connected device is currently locked. Unlock it to modify settings and manage your credentials.
