#not-unlocked.row.hide-if-unlocked
  .column.small-offset-2.small-3
    p Image missing
  .text.column.small-5.end
    h1 Unlock your Mooltipass device
    p The connected device is currently locked. Unlock it to modify settings and manage your credentials.
