.alert-modal.not-in-mmm.row.show-if-connected.show-if-card.show-if-unlocked.hide-if-mmm
  .column.small-offset-1.small-4
    img(src="../images/management-mode.png")
  .text-top.column.small-6.end
    h1 Memory management mode
    p Accessing your credentials requires your device to be in management mode. 
    p.comment This enables your computer to access and modify your stored websites and usernames without additional permission. Do not activate this mode, if you do not trust this computer.
    button.button.small#mmm-enter Enter memory management mode

