.alert-modal.not-in-mmm.row.show-if-connected.show-if-card.show-if-unlocked.hide-if-mmm
  .column.small-offset-1.small-4
    img(src="../images/management-mode.png")
  .text-top.column.small-6.end
    .title-credentials-mmm
      h1(style = "text-align: center;") Credentials Management Mode
      p(style = "margin-left: 10px;") Browsing through your credentials list requires your device to be in management mode. Click the button below to start the process.
    .button-credentials-mmm
      button.button.small#mmm-enter Enter Credentials Management Mode
