#page-credentials.page
  include _not_connected_error.jade
  include _not_in_mmm_error.jade

  .show-if-connected.show-if-mmm
    .row.margin-bottom
      .column.small-4
        h1 Saved Passwords
      .column.small-4
        button.button.tiny#mmm-save Save
        button.button.tiny#mmm-discard Discard        
      .column.small-4.text-right 
        input#search-input(placeholder="Search credentials", mp-focus-on-hotkey="17,70;91,70")
      .column.small-12
        table.datatable#credentials(data-paging="false", data-scrollY="400", data-order='[[ 1, "asc" ]]', cellpadding=0, cellspacing=0)
          thead
            tr
              th(data-class-name="favorite", data-data="favorite", data-searchable="false", data-orderable="false", data-width="5%")
                i.fa.fa-star
              th(data-class-name="editable context", data-data="context", data-searchable="true", data-orderable="true", data-width="20%") App or Site
              th(data-class-name="editable username", data-data="username", data-searchable="true", data-orderable="true", data-width="20%") Username
              th(data-class-name="editable password", data-data="password", data-searchable="false", data-orderable="false", data-width="20%") Password
              th(data-class-name="actions", data-data="actions", data-searchable="false", data-orderable="false", data-width="*") &nbsp;
    .row.margin-bottom
      .column.small-12
        h1 Add new Credential
      form.add-credential
        .column.small-3
          label
            span App or Site&nbsp;
            span.required (required)
            input(type="text", name="app", maxlength=32, required)
            p.comment <strong>TAB</strong> to user
        .column.small-3
          label
            span User&nbsp;
            span.required (required)
            input(type="text", name="user", maxlength=32, required) 
            p.comment <strong>TAB</strong> to password           
        .column.small-3
          label
            span Password&nbsp;
            span.required (required)
            input(type="text", name="password", maxlength=32, required, data-submit)  
            p.comment <strong>TAB</strong> to description, <strong>ENTER</strong> to add          
        .column.small-3
          label
            span Description
            input(type="text", name="description", maxlength=24, data-submit) 
            p.comment <strong>ENTER</strong> to add          




