#page-credentials.page
  include _not_connected_error.jade

  .show-if-connected
    .row
      .column.small-12
        button.button.tiny#mmm-enter Enter MemoryManagementMode
        button.button.tiny#mmm-save Save
        button.button.tiny#mmm-discard Discard
    .row.margin-bottom
      .column.small-8
        h1 Saved Passwords
      .column.small-4.text-right 
        input#search-input(placeholder="Search credentials", mp-focus-on-hotkey="17,70;91,70")
      .column.small-12
        table.datatable#credentials(data-paging="false", data-scrollY="400", data-order='[[ 1, "asc" ]]', cellpadding=0, cellspacing=0)
          thead
            tr
              th(data-class-name="favourite", data-data="favourite", data-searchable="false", data-orderable="false", data-width="5%") 
                i.fa.fa-star
              th(data-class-name="editable app", data-data="app", data-searchable="true", data-orderable="true", data-width="20%") App or Site
              th(data-class-name="editable user", data-data="user", data-searchable="true", data-orderable="true", data-width="20%") Username
              th(data-class-name="editable password", data-data="password", data-searchable="false", data-orderable="false", data-width="20%") Password
              th(data-class-name="actions", data-data="actions", data-searchable="false", data-orderable="false", data-width="*") &nbsp;
