#page-synchronisation.page
  include _not_connected_error.jade
  include _not_unlocked.jade
  include _not_in_mmm_error.jade

  .show-if-connected.show-if-unlocked.show-if-mmm
    .row.margin-bottom
      .column.small-12
        h1 Synchronisation
        p You can backup the credentials from your device to a file or cloud storage, and restore them later in case your Mooltipass device gets lost or broken. Your credentials will always been encrypted with your personal security key, which is only stored at your key cards. You are secure, even if someone gets access to your backup files.

    .row.margin-bottom.storage
      .column.small-6
        h2 File Storage

        p Store your credentials in a file on your local computer.

      .column.small-3
        button.tiny.expand#exportToFile Export to file
      .column.small-3.end
        button.tiny.expand#importFromFile Import from file
      .column.small-12.text-right
        label
          | Automatically export credentials to file storage
          input(type="checkbox", data-key="sync-file-auto")

    .row.margin-bottom.storage
      .column.small-6
        h2 Cloud Storage

        p Store your credentials online in a cloud storage.

      .column.small-3
        button.tiny.expand#exportToCloud Export to cloud
      .column.small-3.end
        button.tiny.expand#importFromCloud Import from cloud
      .column.small-12.text-right
        label
          | Automatically export credentials to cloud storage
          input(type="checkbox", data-key="sync-cloud-auto")
    




