#page-credentials.page
  include _not_connected_error.jade

  .show-if-connected
    .row
      .column.small-12
        h1 Credentials
        p Manage your credentials on the device.

    .row.margin-bottom
      .column.small-6
        h3 Stored credentials

      .column.small-6
        h3 Favourites

