#page-developers.page
  .row
    .column.small-12.margin-bottom
      h1 Developers
      button.tiny#buttonPing Ping
      button.tiny#buttonStatus Status
      button.tiny#buttonGetParameter getParameter
      button.tiny#buttonSetParameter setParameter
      button.tiny#lastError chrome.runtime.lastError
      button.tiny#clearLog clear log
    .column.small-12.margin-bottom
        input#textCommand(style="width:300px" value="lockTimeout" type="text")
        input#textPayload(style="width:300px" type="text")
        button.tiny#buttonCommand Send
  textarea#log(disabled)

