#page-settings.page
  .row
    .column.small-12
      h1 Device Settings
      p These Settings change parameters on your Mooltipass device. For browser-specific settings, go to the options page of the extension.

  .row.margin-bottom
    .column.small-3
      h3 Keyboard layout
    .column.small-2
      select(name="keyboardLayout")
        option(value="1") EN.US
        option(value="2") EN.UK
        option(value="3") DE.DE
    .column.small-7

  .row.margin-bottom
    .column.small-3
      h3 Inactivity
    .column.small-9
      label
        input(type="checkbox", name="lockTimeoutEnabled")
        | &nbsp; Lock after <input type="text" class="inline-time" maxlength="3" name="lockTimeout" /> minutes inactivity
      label
        input(type="checkbox", name="screensaver")
        | &nbsp; Use screen saver

  .row.margin-bottom
    .column.small-3
      h3 Input timeout
    .column.small-9
      label
        input(type="checkbox", name="userRequestCancel")
        | &nbsp; Cancel credentials request after <input type="text" class="inline-time" maxlength="3" name="userInterTimeout" /> seconds

  .row.margin-bottom
    .column.small-3
      h3 Miscellaneous
    .column.small-9
      label
        input(type="checkbox", name="flashScreen") 
        | &nbsp; Flash screen when input is required
      label
        input(type="checkbox", name="offlineMode") 
        | &nbsp; Allow boot without host (e.g. usb battery / charger)
      label
        input(type="checkbox", name="tutorialEnabled") 
        | &nbsp; Enable device tutorial

