#page-easteregg.page

  .show-if-connected
    .row
      .column.small-12
        h1 Easteregg
        p Congratulations! You discovered a secret easteregg.

    .row
      .column.small-12
        button#easteregg-button Click me
