doctype html
html.no-js(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="bower_components/fontawesome/css/font-awesome.min.css")
    link(rel="stylesheet", href="bower_components/DataTables/datatables.min.css")
    link(rel="stylesheet", href="stylesheets/app.css")
  
  body
    include _navigation

    .content
      include _page_about
      include _page_settings
      include _page_credentials
      include _page_developers
      include _page_easteregg
      include _page_synchronisation

    script(src="bower_components/jquery/dist/jquery.min.js")
    script(src="bower_components/DataTables/datatables.min.js")

    script(src="/vendor/mooltipass/app.js")
    script(src="/vendor/mooltipass/helpers.js")
    script(src="/vendor/mooltipass/device.js")
    script(src="/vendor/mooltipass/interface.js")
    script(src="/vendor/mooltipass/memmgmt.js")
    script(src="/vendor/mooltipass/memmgmt_hid.js")
    script(src="/vendor/mooltipass/datamemmgmt.js")
    script(src="/vendor/mooltipass/filehandler.js")
    script(src="/vendor/mooltipass/prefstorage.js")
    script(src="/vendor/mooltipass/util.js")

    script(src="js/app.js")
    script(src="js/status.js")
    script(src="js/contributors.js")
    script(src="js/credentials.js")
    script(src="js/settings.js")
    script(src="js/shortcuts.js")
    script(src="js/easteregg.js")
    script(src="js/synchronisation.js")