#modal-changelog.modal(style="display: none;", data-version="2.0.48")
  .content-wrap
    .row
      .column.small-3
        img(src="../images/icons/Plain_128.png")
      .text.column.small-offset-1.small-7.end
        h1 Welcome to the Mooltipass App
        p We thank you for using our device and would like remind you to make regular backups of your database.
        hr
        img(src="../images/mini_ks.jpg")
        p 
          |Mooltipass Mini: Thank You!<br />
          |Our <a href="https://www.kickstarter.com/projects/limpkin/mooltipass-mini-your-passwords-on-the-go" target="_blank">Kickstarter campaign</a> ended on November 7th, raising more than $168k. We would like to thank you for your support and for using Mooltipass!