#modal-changelog.modal(style="display: none;", data-version="2.0.43")
  .content-wrap
    .row
      .column.small-3
        img(src="../images/icons/Plain_128.png")
      .text.column.small-offset-1.small-7.end
        h1 Welcome to the Mooltipass App
        p We thank you for using our device and would like remind you to make regular backups of your database.
        hr
        img(src="../images/mini_preview.jpg")
        p The Mooltipass team is about to launch a new Kickstarter campaign for its new device: the Mooltipass Mini. To apply to our beta testers and reviewers program and to be notified of the launch, <a href="https://docs.google.com/forms/d/1MkAny03AB3Qt2d9JocE-chRrzwXpfTQgM3uP0dVMQtw/viewform" target="_blank">please click here</a>.