#modal-load-credentials.modal(style="display: none;")
  .content-wrap
    .row
      .column.small-offset-1.small-4
        img(src="../images/management-mode.png")
      .text.column.small-6.end
        h1 Loading credentials
        p Now loading your stored credentials. This may take a while. Please do not unplug your Mooltipass during the check.


        .progress
          span.meter(style="width:40%")


