#modal-export.modal(style="display: none;")
  .content-wrap
    .row
      .column.small-offset-1.small-4
        img(src="../images/export.svg", style="width:250px")
      .text.column.small-6.end
        h1 Export database
        p Your credentials will be exported now. This may take a while. Please do not unplug your Mooltipass during the export.


        .progress
          span.meter(style="width:40%")


