#modal-moolticute-used.modal(style="display: none;")
  .content-wrap
    .row
      .column.small-4
        i.fa.fa-spin.fa-circle-o-notch(style="font-size: 3.5rem;")
      .text.column.small-8
        h1 Moolticute is running
        p Thank you for using our newer platform!

