.alert-modal.not-connected.row.show-if-connected.hide-if-card
  .column.small-offset-2.small-3
    img(src="../images/no-card.png")
  .text.column.small-5.end
    h1 Security card is missing
    p No card has been found. If you have a card in your Mooltipass device, try to remove and insert the card again.
