.alert-modal.not-connected.row.hide-if-connected
  .column.small-offset-2.small-3
    img(src="../images/no-connection.png")
  .text.column.small-5.end
    h1 Connect your Mooltipass device
    p A connection to the device could not be established. Please connect your device.
