#page-experts.page
    include _not_connected_error.jade
    include _in_mmm_error.jade

    .show-if-connected.hide-if-mmm
        .row
            .column.small-12
                h1 Other Functionalities
                p Additional functions to interact with your Mooltipass device.

        .row.margin-bottom
            .column.small-3
                h3 UID Check
            .column.small-9
                p To be sure that no one tampered with your Mooltipass device, you can request a password which will allow you to fetch the UID of your device.
                ol
                    li Get the serial number from the back of your device
                    li
                        a#experts-request-uid-password(href="#") Send us an e-mail
                        | &nbsp;with your serial number requesting the password
                    li Enter the password you received from us:
                        div.nowrap
                            input#experts-uid-password(type="text", class="inline-uid", maxlength=32)
                            button#experts-uid-submit.small Submit
                    li Check the response:
                        div#experts-uid-response.comment Waiting for submit
        .row.margin-bottom
            .column.small-3
                h3 Import Credentials
            .column.small-9
                p Import your credentials from a CSV file. The CSV file should have 3 columns: website , login , password. Passwords shouldn't be more than 31 chars long.
                button.small#experts-import-csv-file Import from CSV file
        .row.margin-bottom                
            .column.small-3
              h3 Advanced Settings
            .column.small-9
              .show-if-mini-version
                label
                  input(type="checkbox", name="hashDisplay", id="settings-hashDisplay")
                  | &nbsp; Hash Display Feature
                label
                  input(type="checkbox", name="randomPin", id="settings-randomPin")
                  | &nbsp; Random Starting Pin
                label Lock Unlock Feature: 
                  select(name="lockUnlock", id="settings-lockUnlock")
                    option(value="0") Disabled
                    option(value="1") Password Only
                    option(value="5") Login + Password
                    option(value="3") Enter + Password
                    option(value="9") Password / Win+L
                    option(value="13") Login+Pass / Win+L
                    option(value="11") Enter+Pass / Win+L
                    option(value="25") Ctrl-Alt-Del+Pass / Win+L
                    option(value="29") Ctrl-Alt-Del+Login+Pass / Win+L