#page-credentials.page
    include _not_connected_error.jade
    include _not_card_error.jade
    include _not_unlocked.jade
    include _not_in_mmm_error.jade

    .show-if-connected.show-if-card.show-if-unlocked.show-if-mmm
        .row.small-margin-bottom
            .column.small-4
                h1.inline Saved Credentials
                .inline.expandContractLink (Expand All)
            .column.small-8.text-right
                input#search-input(placeholder="Search credentials", mp-focus-on-hotkey="17,70;91,70")
            .column.small-12
                table.datatable#credentials(data-paging="false", data-scrollY="400", data-order='[[ 1, "asc" ]]', cellpadding=0, cellspacing=0)
                    thead
                        tr
                            th(data-class-name="favorite", data-data="favorite", data-searchable="false", data-orderable="false", data-width="5%")
                                i.fa.fa-star
                            th(data-class-name="editable context", data-data="context", data-searchable="true", data-orderable="true", data-width="20%") App or Site
                            th(data-class-name="editable username", data-data="username", data-searchable="true", data-orderable="true", data-width="20%") Username
                            th(data-class-name="editable password", data-data="password", data-searchable="false", data-orderable="false", data-width="20%") Password
                            th(data-class-name="actions", data-data="actions", data-searchable="false", data-orderable="false", data-width="*") &nbsp;

        .row
            .column.small-6
                #button-placeholder &nbsp;
                button#import-from-csv.button.expand.small.secondary(style="height: 37.375px !important;") Import from CSV
                #unsaved-changes-warning.hide You have unsaved changes!
            .column.small-3
                button.button.expand.small.secondary(data-confirm="Hold to discard", data-execute="mooltipass.ui.credentials.onClickMMMDiscard", style="height: 37.375px !important;") Discard changes
            .column.small-3
                button#mmm-save.button.expand.small Save changes

        .row.add-credential-headline
            .column.small-12
                h1 Add New Credentials
        form.add-credential
            .row.fields
                .column.small-3
                    label
                        span App or Site&nbsp;
                        span.required (required)
                        span.maxlength (max. 57 chars)
                        input(type="text", name="app", data-maxlength=57, required, tabindex="1")
                        p.comment.no-margin-bottom <strong>TAB</strong> to user
                .column.small-3
                    label
                        span User&nbsp;
                        span.required (required)
                        span.maxlength (max. 61 chars)
                        input(type="text", name="user", data-maxlength=61, tabindex="2")
                        p.comment.no-margin-bottom <strong>TAB</strong> to password
                .column.small-3
                    label
                        span Password&nbsp;
                        span.required (required)
                        span.maxlength (max. 31 chars)
                        .password-actions
                            input#add-password(type="password", name="password", data-maxlength=31, required, data-submit, tabindex="3")
                            .password-eye(data-state="hidden")
                                i.fa.fa-eye(title="Show password")
                                i.fa.fa-eye-slash(title="Hide password")
                            p.comment.no-margin-bottom <strong>TAB</strong> to description, <strong>ENTER</strong> to add
                .column.small-3
                    button.small.expand#add-credentials-button Save
            .row
                .column.small-3
                    label
                        span Description
                        span.maxlength (max. 23 chars)
                        input(type="text", name="description", data-maxlength=23, data-submit, tabindex="4")
                        p.comment.no-margin-bottom <strong>ENTER</strong> to add
                .pwgen
                    .column.small-3
                        .row.slider#pwgen-length
                            .column.small-8
                                input.pwgen-slider(type="range", min="5", max="31", value="16")
                            .column.small-4
                                input.pwgen-length.small(type="number", value="16", min="5", max="31")
                    .column.small-3
                        ul.button-group.even-4.expand.toggle#pwgen-settings(data-toggle="buttons-checkbox")
                            li
                                input.pwgen-uppercase#pwgen-uppercase2(type="checkbox", data-toggle="button", checked="checked")
                                label.button.secondary.tiny(for="pwgen-uppercase2") ABC
                            li
                                input.pwgen-lowercase#pwgen-lowercase2(type="checkbox", data-toggle="button", checked="checked")
                                label.button.secondary.tiny(for="pwgen-lowercase2") abc
                            li
                                input.pwgen-numbers#pwgen-numbers2(type="checkbox", data-toggle="button", checked="checked")
                                label.button.secondary.tiny(for="pwgen-numbers2") 123
                            li
                                input.pwgen-specialchars#pwgen-specialchars2(type="checkbox", data-toggle="button", checked="checked")
                                label.button.secondary.tiny(for="pwgen-specialchars2") */_
                    .column.small-3
                        button.tiny.expand.pwgen-button(data-fill-id="add-password", data-settings-id="pwgen-settings", data-length-id="pwgen-length") Generate Password





