#page-developers.page
    include _not_connected_error.jade
    include _in_mmm_error.jade

    .show-if-connected.hide-if-mmm
        .alert-box.alert(data-alert, style="margin-top:-0.5rem") The actions below might result in a broken device and require a factory reset. Use them with caution!        
        .row.margin-bottom
            .column.small-12
                h1 Developers Interactions
                p This page provides special interactions with the Mooltipass device, which should usually not be required.

        .row.margin-bottom.storage
            .column.small-6
                h2 Factory Reset a Card

                p To reuse a paired card on another Mooltipass device, you need to reset the card. Once done, the card is no longer paired with the previous device. <strong>This interaction is only available for unknown cards.</strong>
            .column.small-3.text-right
                label
                    input#resetCardCheckbox(type="checkbox")
                    | I want to reset my card
            .column.small-3.end
                button.small.expand.resetCard(data-reveal-id="resetCardModal", disabled="disabled") Reset Card

        .row.margin-bottom.storage
            .column.small-6
                h2 Import Media Bundle

                p Import a new media bundle on the Mooltipass device.

            .column.small-3
                label
                    span Password&nbsp;
                    input#importMediaBundlePassword(type="text", name="password")

            .column.small-3.end
                div &nbsp;
                button.small.expand.import Import
        .row.margin-bottom.storage
            .column.small-6
                h2 Jump To Bootloader

                p Send a packet to instruct the Mooltipass device to jump to the bootloader. <strong>This will break your device!</strong>

            .column.small-3
                label
                    span Password&nbsp;
                    input#jumpToBootloaderPassword(type="text", name="password")

            .column.small-3.end
                div &nbsp;
                button.small.expand.jump Jump