.panel {
  display: inline-block;
  font-size: 0.7rem;
  text-decoration: none;
  padding: 0.5rem 1rem;	
  &.panel-small-padding {
  	padding: 0.3rem 1rem;
  }
  width: 100%;

  h3 {
  	margin: 0 0 0.2rem 0;
  	font-weight: 600;
  }
}

a.panel {
  cursor: pointer;
}