body {
	margin: 0;
}

.mp-bt-modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2147483645;
}
.mp-bt-modal-backdrop:after {
	content:'';
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #000000;
	opacity: 0.8;
	filter: alpha(opacity=80);
}
#mp-bt-cipDefine-fields {
	z-index: 2147483646;
}
#mp-bt-cipDefine-description {
	z-index: 2147483646;
	color: #efefef;
	border: 2px solid #555555;
	padding: 7px 5px;
	position: absolute;
	top: 100px;
	left: 150px;
	text-align: left;
	cursor: pointer;
	background-color:rgba(255,255,255,0.3);
	font-size: 15px;
}
#mp-bt-cipDefine-description div:first-of-type {
	margin-top: 0;
	padding-top: 0;
	text-align: left;
	color: #efefef;
	padding-bottom: 8px;
	font-weight: bold;
	font-size: 160%;
}
#mp-bt-cipDefine-description p {
    background: #FFA500 !important;
    color: #FFF !important;
    font-size: 12px !important;
    padding: 6px 12px !important;    
}
#mp-bt-help {
	margin-bottom: 3px;
}
.mp-bt-fixed-field {
	position: absolute;
	border: 2px solid #efefef;
	cursor: pointer;
	z-index: 2147483646;
	text-align: left;
	font-weight: bold;
	background-color:rgba(239,239,239,0.4);
}
.mp-bt-fixed-hover-field {
	border: 2px solid orange;
	background-color:rgba(255,165,239,0.4);
}
.mp-bt-fixed-password-field {
	border: 2px solid red;
	color: #efefef;
	background-color:rgba(255,0,0,0.4);
}
.mp-bt-fixed-username-field {
	border: 2px solid limegreen;
	color: #efefef;
	background-color:rgba(50,205,50,0.4);
}
.mp-bt-fixed-string-field {
	border: 2px solid deepskyblue;
	color: #efefef;
	background-color:rgba(30,144,255,0.4);
}

#mp-bt-btn-confirm,
#mp-bt-btn-again {
    -webkit-appearance: none !important;
    -webkit-user-select: none !important;
    align-items: flex-start !important;
    background-color: rgb(192, 192, 192) !important;
    background-image: -webkit-linear-gradient(top, rgb(237, 237, 237), rgb(237, 237, 237) 38%, rgb(222, 222, 222)) !important;
    border-bottom-color: rgba(0, 0, 0, 0.247059) !important;
    border-bottom-left-radius: 2px !important;
    border-bottom-right-radius: 2px !important;
    border-bottom-style: solid !important;
    border-bottom-width: 1px !important;
    border-image-outset: 0px !important;
    border-image-repeat: stretch !important;
    border-image-slice: 100% !important;
    border-image-source: none !important;
    border-image-width: 1 !important;
    border-left-color: rgba(0, 0, 0, 0.247059) !important;
    border-left-style: solid !important;
    border-left-width: 1px !important;
    border-right-color: rgba(0, 0, 0, 0.247059) !important;
    border-right-style: solid !important;
    border-right-width: 1px !important;
    border-top-color: rgba(0, 0, 0, 0.247059) !important;
    border-top-left-radius: 2px !important;
    border-top-right-radius: 2px !important;
    border-top-style: solid !important;
    border-top-width: 1px !important;
    box-shadow: rgba(0, 0, 0, 0.0784314) 0px 1px 0px 0px, rgba(255, 255, 255, 0.74902) 0px 1px 2px 0px inset !important;
    box-sizing: border-box !important;
    color: rgb(68, 68, 68) !important;
    cursor: default !important;
    display: inline-block;
    font-family: Verdana, Arial, sans-serif !important;
    font-size: 12px !important;
    font-stretch: normal !important;
    font-style: normal !important;
    font-variant: normal !important;
    font-weight: normal !important;
    height: 26px !important;
    letter-spacing: normal !important;
    line-height: normal !important;
    list-style-type: none !important;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 0px !important;
    outline-color: rgb(68, 68, 68) !important;
    outline-style: none !important;
    outline-width: 0px !important;
    padding-bottom: 3px !important;
    padding-left: 6px !important;
    padding-right: 6px !important;
    padding-top: 2px !important;
    text-align: center !important;
    text-indent: 0px !important;
    text-rendering: auto !important;
    text-shadow: rgb(240, 240, 240) 0px 1px 0px !important;
    text-transform: none !important;
    width: auto !important;
    word-spacing: 0px !important;
    writing-mode: lr-tb !important;
    -webkit-writing-mode: horizontal-tb !important;
    margin-left: 10px !important;
}
#mp-bt-btn-confirm:hover,
#mp-bt-btn-again:hover {
    -webkit-appearance: none !important;
    -webkit-user-select: none !important;
    align-items: flex-start !important;
    background-color: rgb(192, 192, 192) !important;
    background-image: -webkit-linear-gradient(top, rgb(240, 240, 240), rgb(240, 240, 240) 38%, rgb(224, 224, 224)) !important;
    border-bottom-color: rgba(0, 0, 0, 0.298039) !important;
    border-bottom-left-radius: 2px !important;
    border-bottom-right-radius: 2px !important;
    border-bottom-style: solid !important;
    border-bottom-width: 1px !important;
    border-image-outset: 0px !important;
    border-image-repeat: stretch !important;
    border-image-slice: 100% !important;
    border-image-source: none !important;
    border-image-width: 1 !important;
    border-left-color: rgba(0, 0, 0, 0.298039) !important;
    border-left-style: solid !important;
    border-left-width: 1px !important;
    border-right-color: rgba(0, 0, 0, 0.298039) !important;
    border-right-style: solid !important;
    border-right-width: 1px !important;
    border-top-color: rgba(0, 0, 0, 0.298039) !important;
    border-top-left-radius: 2px !important;
    border-top-right-radius: 2px !important;
    border-top-style: solid !important;
    border-top-width: 1px !important;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 0px 0px, rgba(255, 255, 255, 0.952941) 0px 1px 2px 0px inset !important;
    box-sizing: border-box !important;
    color: rgb(0, 0, 0) !important;
    cursor: default !important;
    display: inline-block;
    font-family: Verdana, Arial, sans-serif !important;
    font-size: 12px !important;
    font-stretch: normal !important;
    font-style: normal !important;
    font-variant: normal !important;
    font-weight: normal !important;
    height: 26px !important;
    letter-spacing: normal !important;
    line-height: normal !important;
    list-style-type: none !important;
    margin-bottom: 0px !important;
    margin-right: 0px !important;
    margin-top: 0px !important;
    outline-color: rgb(0, 0, 0) !important;
    outline-style: none !important;
    outline-width: 0px !important;
    padding-bottom: 3px !important;
    padding-left: 6px !important;
    padding-right: 6px !important;
    padding-top: 2px !important;
    text-align: center !important;
    text-indent: 0px !important;
    text-rendering: auto !important;
    text-shadow: rgb(240, 240, 240) 0px 1px 0px !important;
    text-transform: none !important;
    width: auto !important;
    word-spacing: 0px !important;
    writing-mode: lr-tb !important;
    -webkit-writing-mode: horizontal-tb !important;
}
#mp-bt-btn-confirm:focus,
#mp-bt-btn-again:focus {
    -webkit-appearance: none !important;
    -webkit-user-select: none !important;
    align-items: flex-start !important;
    background-color: rgb(192, 192, 192) !important;
    background-image: -webkit-linear-gradient(top, rgb(237, 237, 237), rgb(237, 237, 237) 38%, rgb(222, 222, 222)) !important;
    border-bottom-color: rgb(96, 177, 199) !important;
    border-bottom-left-radius: 2px !important;
    border-bottom-right-radius: 2px !important;
    border-bottom-style: solid !important;
    border-bottom-width: 1px !important;
    border-image-outset: 0px !important;
    border-image-repeat: stretch !important;
    border-image-slice: 100% !important;
    border-image-source: none !important;
    border-image-width: 1 !important;
    border-left-color: rgb(96, 177, 199) !important;
    border-left-style: solid !important;
    border-left-width: 1px !important;
    border-right-color: rgb(96, 177, 199) !important;
    border-right-style: solid !important;
    border-right-width: 1px !important;
    border-top-color: rgb(96, 177, 199) !important;
    border-top-left-radius: 2px !important;
    border-top-right-radius: 2px !important;
    border-top-style: solid !important;
    border-top-width: 1px !important;
    box-shadow: rgba(0, 0, 0, 0.0784314) 0px 1px 0px 0px, rgba(255, 255, 255, 0.74902) 0px 1px 2px 0px inset !important;
    box-sizing: border-box !important;
    color: rgb(68, 68, 68) !important;
    cursor: default !important;
    display: inline-block;
    font-family: Verdana, Arial, sans-serif !important;
    font-size: 12px !important;
    font-stretch: normal !important;
    font-style: normal !important;
    font-variant: normal !important;
    font-weight: normal !important;
    height: 26px !important;
    letter-spacing: normal !important;
    line-height: normal !important;
    list-style-type: none !important;
    margin-bottom: 0px !important;
    margin-right: 0px !important;
    margin-top: 0px !important;
    outline-color: rgb(68, 68, 68) !important;
    outline-style: none !important;
    outline-width: 0px !important;
    padding-bottom: 3px !important;
    padding-left: 6px !important;
    padding-right: 6px !important;
    padding-top: 2px !important;
    text-align: center !important;
    text-indent: 0px !important;
    text-rendering: auto !important;
    text-shadow: rgb(240, 240, 240) 0px 1px 0px !important;
    text-transform: none !important;
    transition-delay: 0s !important;
    transition-duration: 0.2s !important;
    transition-property: border-color !important;
    transition-timing-function: ease !important;
    width: auto !important;
    word-spacing: 0px !important;
    writing-mode: lr-tb !important;
    -webkit-writing-mode: horizontal-tb !important;
}
#mp-bt-btn-confirm:active,
#mp-bt-btn-again:active {
    -webkit-appearance: none !important;
    -webkit-user-select: none !important;
    align-items: flex-start !important;
    background-color: rgb(192, 192, 192) !important;
    background-image: -webkit-linear-gradient(top, rgb(231, 231, 231), rgb(231, 231, 231) 38%, rgb(215, 215, 215)) !important;
    border-bottom-color: rgba(0, 0, 0, 0.247059) !important;
    border-bottom-left-radius: 2px !important;
    border-bottom-right-radius: 2px !important;
    border-bottom-style: solid !important;
    border-bottom-width: 1px !important;
    border-image-outset: 0px !important;
    border-image-repeat: stretch !important;
    border-image-slice: 100% !important;
    border-image-source: none !important;
    border-image-width: 1 !important;
    border-left-color: rgba(0, 0, 0, 0.247059) !important;
    border-left-style: solid !important;
    border-left-width: 1px !important;
    border-right-color: rgba(0, 0, 0, 0.247059) !important;
    border-right-style: solid !important;
    border-right-width: 1px !important;
    border-top-color: rgba(0, 0, 0, 0.247059) !important;
    border-top-left-radius: 2px !important;
    border-top-right-radius: 2px !important;
    border-top-style: solid !important;
    border-top-width: 1px !important;
    box-shadow: none !important;
    box-sizing: border-box !important;
    color: rgb(68, 68, 68) !important;
    cursor: default !important;
    display: inline-block;
    font-family: Verdana, Arial, sans-serif !important;
    font-size: 12px !important;
    font-stretch: normal !important;
    font-style: normal !important;
    font-variant: normal !important;
    font-weight: normal !important;
    height: 26px !important;
    letter-spacing: normal !important;
    line-height: normal !important;
    list-style-type: none !important;
    margin-bottom: 0px !important;
    margin-right: 0px !important;
    margin-top: 0px !important;
    outline-color: rgb(68, 68, 68) !important;
    outline-style: none !important;
    outline-width: 0px !important;
    padding-bottom: 3px !important;
    padding-left: 6px !important;
    padding-right: 6px !important;
    padding-top: 2px !important;
    text-align: center !important;
    text-indent: 0px !important;
    text-rendering: auto !important;
    text-shadow: none !important;
    text-transform: none !important;
    width: auto !important;
    word-spacing: 0px !important;
    writing-mode: lr-tb !important;
    -webkit-writing-mode: horizontal-tb !important;
}

div#mp-bt-buttonWrap {
	padding: 6px 12px !important;
	min-height: 26px;
}

.mooltipass-text-right {
	text-align: right !important;
}

#mp-bt-btn-dismiss {
    background-attachment: scroll !important;
    background-clip: border-box !important;
    background-color: rgba(0, 0, 0, 0) !important;
    background-image: none !important;
    background-origin: padding-box !important;
    background-size: auto !important;
    border-bottom-color: rgb(68, 68, 68) !important;
    border-bottom-style: none !important;
    border-bottom-width: 0px !important;
    border-image-outset: 0px !important;
    border-image-repeat: stretch !important;
    border-image-slice: 100% !important;
    border-image-source: none !important;
    border-image-width: 1 !important;
    border-left-color: rgb(68, 68, 68) !important;
    border-left-style: none !important;
    border-left-width: 0px !important;
    border-right-color: rgb(68, 68, 68) !important;
    border-right-style: none !important;
    border-right-width: 0px !important;
    border-top-color: rgb(68, 68, 68) !important;
    border-top-style: none !important;
    border-top-width: 0px !important;
    color: rgb(68, 68, 68) !important;
    cursor: auto !important;
    font-family: 'Helvetica Neue', 'Lucida Grande', sans-serif !important;
    font-size: 12px !important;
    font-style: normal !important;
    font-variant: normal !important;
    font-weight: normal !important;
    height: auto !important;
    line-height: normal !important;
    list-style-type: none !important;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
    margin-right: 12px !important;
    margin-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 0px !important;
    text-align: right !important;
    text-decoration: none !important;
    vertical-align: baseline !important;
    width: auto !important;
}
#mp-bt-btn-dismiss {
    color: #777 !important;
}

#mp-bt-btn-dismiss {
    position: absolute !important;
    right: 0px !important;
    top: 6px;    
}

#mp-bt-btn-dismiss {
	color: #60B1C7 !important;	
}

div#mp-bt-cipDefine-description {
    background: #FFF !important;
    border: none !important;
    box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0px 5px 1px !important;   
    padding: 0 !important; 
}

.mp-bt-chooser-headline {
    color: #000 !important;
    font-size: 12px !important;
    padding: 6px 12px !important;
    border-bottom: 1px solid #DDD !important;
    font-family: 'Helvetica Neue', 'Lucida Grande', sans-serif !important;
}

