#log {
  background: $oil;
  font-size: 0.8rem;
  font-family: monospace;
  color: $white;
  padding: 0 0.5rem;
  height: 10rem;
  position: absolute;
  width: 100%;
  bottom: 0;
  overflow: scroll; 
  margin-bottom: 0;
  border: 0;   
}