.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 1000;
  top: 0;

  .content-wrap {
    position: absolute;
    background-color: #FFF;
    z-index: 2000;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
    padding: 2rem;
    padding-top: 7rem;

    h1 { font-size: 1rem; }
    p { font-size: 0.8rem; }
    ul,li { font-size: 0.8rem; }
  }
}

#modal-confirm-on-device {
  .content-wrap {
    height: 23%;
    top: 38.5%;
    width: 60%;
    left: 20%;
    padding-top: 1.7rem;
  }
}

#modal-mooltipass-updating {
  .content-wrap {
    height: 23%;
    top: 38.5%;
    width: 60%;
    left: 20%;
    padding-top: 1.7rem;
  }
}

#modal-changelog .content-wrap {
  padding-top: 2rem;
}