@import "settings";
@import "foundation";
@import "layout";
@import "log";
@import "tables";
@import "modal";
@import "notifications";

.comment {
    color: $border-color;
}

#contributor-list {
    a {
        img {
            border: none;
            width: 4rem;
            margin-right: 1rem;
        }
        padding: 0.5rem;

        &:hover {
            background: #FAFAFA;
        }
    }
}

*[mp-show-for-hotkey] {
    display: none;
}

select {
    padding: 0 0.5rem;
    height: 1.6rem;
    margin-bottom: 0;
}

input.inline-time {
    width: 3rem;
    display: inline;
    margin: 0 0.5rem;
    height: 1.6rem;
    text-align: center;
}

input#search-input {
    width: 7.8rem;
    transition: all 300ms ease;
    font-size: 0.8rem;
    padding: 0.3rem;

    &:focus {
        width: 13rem;
    }
}

input {
    border: 1px solid #EEE !important;

    &:focus {
        outline: none;
        border: 1px solid #CCC !important;
    }
}

input.inline {
    padding: 0.1rem 0.3rem;
    width: 100%;
}

#credentials {
    input.change-credentials.error {
        border: 1px solid #F00 !important;
    }
}

#page-settings {
    #settings-userInteractionTimeout {
        display: inline;
        width: 50px;
        margin-right: 8px;
        margin-left: 8px;
        margin-bottom: 8px;
    }
    #settings-screenBrightness {
        display: inline;
        width: 70px;
        margin-right: 8px;
        margin-left: 8px;
        margin-bottom: 8px;
    }
    #settings-keyboardLayout {
        display: inline;
        width: 100px;
        margin-right: 8px;
        margin-left: 8px;
        margin-bottom: 8px;
    }
    #settings-keypressWait {
        display: inline;
        width: 50px;
        margin-right: 8px;
        margin-left: 8px;
        margin-bottom: 8px;
    } 
    #settings-keypressLogin {
        display: inline;
        width: 70px;
        margin-right: 8px;
        margin-left: 8px;
        margin-bottom: 8px;
    } 
    #settings-keypressPassword {
        display: inline;
        width: 70px;
        margin-right: 8px;
        margin-left: 8px;
    }    
    #settings-knockSensitivity {
        display: inline;
        width: 85px;
        margin-right: 8px;
        margin-left: 8px;
        margin-bottom: 8px;
    } 
}

#page-synchronisation {
    overflow-y: hidden;
    * {
        overflow-y: hidden;
    }
    button {
        margin-bottom: 0;
        margin-top: 8px;
        padding: 0.7rem;
    }
    button.extraTopSpace {
        margin-top: 26px;
    }

    .storage {
        p {
            margin-bottom: 0;
        }

        input[type="checkbox"] {
            margin-left: 0.5rem;
        }

        span {
            display: inline-block;
            width: 90%;
        }

        label {
            margin-top: 0.5rem;
        }

    }
}

.comment {
    color: #888 !important;
}

#page-credentials {
    .add-credential-headline {
        margin-top: 9px;
        border-top: 2px solid #EFEFEF;
        padding-top: 2px;
    }

    button {
        margin-bottom: 0;
        margin-top: 0.9rem;
        padding: 0.7rem;

        &.secondary {
            color: #888888;
            transition: background-color ease 1000ms;

            &:hover {
                background-color: #ddd;
            }

            &:active {
                background-color: #F1BABA;
            }
        }
    }
    
    .button-credentials-mmm {
        text-align: center;
    }

    #unsaved-changes-warning {
        margin-top: 23px;
        text-align: right;
        font-size: 110%;
        color: #f04124;
    }

    .add-credential, .quickcredentialadd {
        input {
            margin-bottom: 0;
            height: 1.8rem;
            transition: all 200ms ease;
        }
        label {

            span.required {
                display: none;
                opacity: 0;
                color: $alert-color;
            }
            span.maxlength {
                display: none;
                opacity: 0;
                color: $alert-color;
            }
            &.alert-required {
                span.required {
                    display: inline;
                }
                span.required {
                    opacity: 1;
                    transition: all 200ms ease;
                }
                input {
                    border: 1px solid #F00 !important;
                }
            }
            &.alert-maxlength {
                span.maxlength {
                    display: inline;
                }
                span.maxlength {
                    opacity: 1;
                    transition: all 200ms ease;
                }
                input {
                    border: 1px solid #F00 !important;
                }
            }

            .comment {
                font-size: 0.68rem;
                opacity: 0;
                transition: all 200ms ease;
            }
        }

        .password-actions {
            input {
                position: relative;
            }

            .password-eye {
                position: absolute;
                right: 1rem;
                top: 20px;
                width: 1.4rem;
                height: 1.8rem;
                line-height: 1.8rem !important;
                text-align: center;
                opacity: 0.7;
                z-index: 1000;

                &:hover, &:focus, &:active {
                    opacity: 1;
                }
            }
        }

        .button-group.toggle {
            input[data-toggle] {
                display: none;
            }

            input[data-toggle]:checked + label,
            input[data-toggle]:checked + label:active {
                background-color: rgba(0, 0, 0, 0.3);
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
            }

            .button-group.toggle li:not(first-child) {
                margin: 0 -0.9rem;
            }

            label {
                padding-left: 0;
                padding-right: 0;
            }
        }

        .row.slider {
            .column:first-of-type {
                padding-right: 5px;
            }
            .column:last-of-type {
                padding-left: 0;
            }
        }

        .pwgen-slider {
            width: 100%;
        }

        .pwgen {
            button.pwgen-button {
                margin-top: 0;
            }
        }
    }

    .add-credential {
        .pwgen {
            margin-top: 1.2rem;
        }
    }
}

#page-experts {
    font-size: 0.8rem;

    ol {
        font-size: inherit;
    }
    li {
        font-size: inherit;
    }

    div.nowrap {
        white-space: nowrap;
        margin-bottom: 0.4rem;
    }

    span.required {
        display: none;
        opacity: 0;
        color: $alert-color;
    }

    input.inline-uid {
        width: 20rem;
        display: inline;
        margin: 0 0.5rem;
        margin-right: 0;
        height: 1.6rem;
        text-align: left;
        vertical-align: middle;
    }

    #experts-uid-submit {
        height: 1.6rem;
        vertical-align: middle;
        padding: 0 1rem;
        margin: 0;
    }
    
    #settings-lockUnlock {
        display: inline;
        width: 300px;
        margin-right: 8px;
        margin-left: 8px;
        margin-bottom: 8px;
    }

    #experts-uid-response {
        margin-left: 0.6rem;
        font-size: 0.9rem;

        &.alert {
            color: $alert-color !important;
        }

        &.success {
            color: $success-color !important;
        }
    }
}

#page-developers {
    #resetCardCheckbox {
        margin-right: 5px;
    }
}

button, .button {
    &:focus {
        outline: none;
    }
}

#splash-screen {
    transition: opacity ease 800ms;
    background: white;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1000;

    .row {
        width: 20rem;
        margin-top: 13rem;
        margin-left: 13rem;
    }

    i {
        margin-top: 0.3rem;
        font-size: 3.5rem;
        color: $primary-color;
    }
}

nav {
    li {
        position: relative;

        .lock {
            background: transparent;
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 1000;
            top: 0;
            left: 0;
            cursor: not-allowed;
        }
    }
}

.tooltipster-base {
    border: 0;
    border-radius: 0;

    .tooltipster-content {
        font-size: 0.8rem;
        font-family: inherit;
    }
}

.tooltipster-default .tooltipster-arrow .tooltipster-arrow-border {
    border: none;
}

.inline {
    float: left;
}

.inline.expandContractLink {
    margin-left: 20px;
    line-height: 30px;
    font-size: 11px;
    cursor: pointer;
}