body {
	margin: 0;
}

.container {
	padding-top: 100px;
	padding-bottom: 100px;
}

.content {
	margin: auto;
	background-color: white;
	max-width: 300px;
}

.form {
	margin: auto;
}

.logo {
	margin: auto;
	width: 215px;
	height: 64px;
	margin-bottom: 50px;
	background-image: url(chrome-extension://__MSG_@@extension_id__/images/logo_inverted.png);
}
label {
	color: #4d4d4d;
	cursor: pointer;
	display: block;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.5;
	margin-bottom: 0;
	text-align: left;
}

.controls {
	text-align: right;
}

.notice {
	text-align: center;
	margin-bottom: 10px;
	font-size: 12px;
}

.notice span,
.caution p span {
	font-weight: bold;
}

button {
	margin-bottom: 0;
}

h6 {
	margin-top: 3em;
}

.caution p {
	font-size: 12px;
}

.caution h6 {
	text-align: center;
}

@-moz-document url-prefix() {
	.logo {
			background-image: url(/images/logo_inverted.png) !important;
	}
}
