@import "base";

.pure-g {
  max-width: 100em;
  margin-left: auto;
  margin-right: auto;  
}

body {
  margin-top: 2em;
}

hr {
  border-top: 1px solid #eee;
  border-bottom: none;
  border-left: none;
  border-right: none;
  
  margin-top: 0;
  margin-bottom: 1.33em;
}

p, ul, ol, .panel {
  font-size: 1.1em;
  line-height: 1.5;
}

footer {
  .logo {
    margin-right: 1em;
    margin-top: -0.25rem;  
  }
}