body {
	margin: 0;
}

.icon {
	cursor: pointer;
	background-size: contain;
}

.icon__small {
	width: 16px;
	height: 16px;
	background-image: url(chrome-extension://__MSG_@@extension_id__/images/icon_password_128.png);
}

.icon__big {
	width: 24px;
	height: 24px;
	background-image: url(chrome-extension://__MSG_@@extension_id__/images/icon_password_128.png);
}

@-moz-document url-prefix() { 
	.icon-small {
    background-image: url(images/icon_password_128.png);
	}
	
	.icon-big {
    background-image: url(images/icon_password_128.png);
	}
}
